<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card p-4">
        <h1 class="text-center text-primary mb-4">Stats</h1>
        <hr class="text-white">
        <h3>Total Calories: <%= @total_calories %> kcal</h3>
        <h3>Total Duration: <%= @total_duration/60 %> hours</h3>
      </div>
    </div>
  </div>
</div>
